
<!-- error.ejs, Balkesa Azimi-301296835  Date: Sunday, June 18, 2023-->


<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>


