<!-- register.ejs, Balkesa Azimi-301296835  Date: Sunday, June 18, 2023-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../css/register.css" rel="stylesheet" type="text/css" />

   
    <title>Portfolio | Balkesa</title>
</head>
<body>
<header>
    <a href="/" class="logo"><i class="fab fa-node-js"></i> Balkesa</a>
    <div id="menu" class="fas fa-bars"></div>
    <nav class="navbar">
        <ul>
            <li><a class="index" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contacts-list">Business Contacts</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>
</header>
<main class="container">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Please Register</h1>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control"
                    name="username" placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required>
                </fieldset>

                <fieldset class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control"
                    name="email" placeholder="Enter Email Address"
                    id="email" required>
                </fieldset>

                <fieldset class="form-group">
                    <label for="displayName">Display Name: </label>
                    <input type="text" class="form-control"
                    name="displayName" placeholder="Enter Display Name"
                    id="displayName" required>
                </fieldset>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Register">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>

            </form>
        </div>
    </div>


</main>





